<app-title-bar [title]="'Users'">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input type="text" name="username" placeholder="username" [(ngModel)]="_newUser.username"
           autocomplete="new-password" class="small">
    <input type="password" name="password" placeholder="password" [(ngModel)]="_newUser.password"
           autocomplete="new-password" class="small">
    <app-button [type]="'submit'" [icon]="'plus'" [caption]="'Create'"></app-button>
  </form>
</app-title-bar>

<table class="list">
  <thead>
  <tr>
    <th class="symbol">&nbsp;</th>
    <th>Display name</th>
    <th>Username</th>
    <th>Type</th>
    <th>Color</th>
    <th class="date">Created</th>
    <th class="date">Modified</th>
    <th class="actions">Actions</th>
  </tr>
  </thead>
  <tbody *ngIf="_users">
  <tr *ngFor="let user of _users">
    <td class="symbol">
      <app-avatar [user]="user"></app-avatar>
    </td>
    <td>{{user.displayName}}</td>
    <td>{{user.username}}</td>
    <td>{{UserType[user.type]}}</td>
    <td>
      <app-color-badge [color]="user.color"></app-color-badge>
    </td>
    <td class="date">
      <app-info-badge [time]="user.created" [user]="user.createdBy"></app-info-badge>
    </td>
    <td class="date">
      <app-info-badge [time]="user.modified" [user]="user.modifiedBy"></app-info-badge>
    </td>
    <td class="actions">
      <app-button (click)="onEditClick(user);" [icon]="'pencil'" [caption]="'Edit'"></app-button>
      <app-button (click)="onRemoveClick(user);" [icon]="'x'" [caption]="'Remove'"></app-button>
    </td>
  </tr>
  </tbody>
</table>
