@import "../../../shared";

:host {
  width: 256px;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lighten($background-color, 10%);

  &.size-small {
    width: 128px;
    height: 72px;
  }
}

.preview {
  max-width:100%;
}

.no-preview {

}
