@font-face {
  font-family: 'Nato Sans';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/notosans-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/notosans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nato Sans';
  font-weight: bold;
  font-style: normal;
  src: url('/assets/fonts/notosans-bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/notosans-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nato Sans';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/notosans-italic-webfont.woff2') format('woff2'),
  url('/assets/fonts/notosans-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nato Sans';
  font-weight: bold;
  font-style: italic;
  src: url('/assets/fonts/notosans-bolditalic-webfont.woff2') format('woff2'),
  url('/assets/fonts/notosans-bolditalic-webfont.woff') format('woff');
}

