$background-color: #26282F;
$primary-color: #444644;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);
$primary-color-text: #FFFFFF;
$accent-color: #FFB855;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$top-bar-height: 3.2em;

$font-family: 'Nato Sans', sans-serif;

$assets: '/assets';
$imageAssets: $assets + '/images';

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

// Box

@mixin box() {
  display: flex;
  align-items: stretch;

  &.flex-end {
    justify-content: flex-end;
  }

  > * {
    flex: 1 1 auto;

    &.no-flex {
      @include no-flex;
    }
  }
}

@mixin hbox() {
  @include box;
}

@mixin vbox() {
  @include box;

  flex-direction: column;
}

@mixin no-flex() {
  flex: none;
}

@mixin button() {
  background-color: $accent-color;
  color: $primary-color-text;
  font-size: 0.95em;
  padding: 0.4em 1.2em;
  border-radius: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  border: 0 none;
  cursor: pointer;
  outline: 0 none;
  user-select: none;

  &:hover {
    background-color: darken($accent-color, 5%);
  }

  &:active {
    background-color: darken($accent-color, 10%);
    transform: translate(0, 1px);
  }

  &.no-background {
    background: none;

    &:hover {
      background: none;
    }

    &:active {
      background: none;
      transform: translate(0, 1px);
    }
  }
}

@mixin form-control() {
  color: $primary-color-text;
  background: $primary-color-light;
  border: 0 none;
  padding: 0 0.5em;
  height: 3em;
  line-height: 3em;
  @include placeholder {
    color: darken($primary-color-text, 20%);
  }

  &.small {
    height: 2em;
    line-height: 2em;
    font-size: 0.9em;
  }
}

@mixin view() {
  @include vbox();
  padding: ($top-bar-height+2em) 2em 2em;
}

@mixin data-table() {
  width: 100%;
  table-layout: fixed;
  background: lighten($background-color, 5%);

  th, td {
    padding: 0.4em;
    text-align: left;
  }

  th {
    background: lighten($background-color, 7%);
    height: 41px;
  }

  th, td {
    &.date {
      width: 158px;
      white-space: nowrap;
    }

    &.actions {
      width: 220px;
      white-space: nowrap;
    }
  }
}
