@import "fonts";
@import "shared";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: $background-color;
  font-family: $font-family;
  line-height: 1.5;
  color: $primary-color-text;
}

a {
  color: $primary-color-text;
  text-decoration: none;

  &:hover {
    color: darken($primary-color-text, 15%);
  }
}

.form-group {
  @include vbox();
  flex-grow: 0;
  margin-bottom: 1em;

  label {
    text-transform: uppercase;
  }
}

input[type=text],
input[type=password],
input[type=file],
input[type=number],
select,
textarea {
  @include form-control();
}

textarea {
  resize: none;
}

button {
  @include button();
}

.controls {
  form {
    display: flex;
    align-items: center;

    > * {
      margin-left: 0.4em;
    }
  }
}
