@import "../../../../shared";

:host {
  display: block;
  /*
  width: 49%;
  margin-right: 2%;

  &:nth-child(2n) {
    margin-right: 0;
  }
  */
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.4em;

  app-button {
    margin-right: 0.4em;
  }
}

app-input-upload {
  margin: 0;
}

.url-paste {
  .controls {
    display: flex;
    height: 36px;

    app-input {
      height: 100%;
      flex-grow: 1;
      margin: 0 1em 0 0;
    }

    app-button {
      height: 100%;
    }
  }

  .preview {
    margin-top: 0.4em;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 18em;
    }
  }

  .error {
    font-size: 0.8em;
  }
}
