<app-input-upload
  [size]="'small'"
  [options]="_imageUploadOptions"
  [single]="true"
  [fileType]="'image'"
  [name]="'image'"
  [(model)]="_image.fileName"
  [imageUrl]="_imageUrl"
  (modelChange)="onUploadFinished()"
></app-input-upload>
<div class="url-paste">
  <div class="controls">
    <app-input
      [model]="_pastedImageUrl"
      [size]="'small'"
      (modelChange)="onPastedImageUrlChange($event)"
      [name]="'pastedUrl'"
      [placeholder]="'paste URL address'"
    ></app-input>
    <app-button (click)="onPastedUrlPreviewClick()" [icon]="'eye'" title="Preview"></app-button>
    <app-button (click)="onPastedUrlAcceptClick()" [icon]="'check'" title="Accept"></app-button>
  </div>
  <div class="preview" *ngIf="_pastedLegitImageUrl && _pastedLegitImageUrl.length > 0">
    <img src="{{_pastedLegitImageUrl}}">
  </div>
  <div
    *ngIf="_error"
    class="error"
  >
    {{_error.message}}
  </div>
</div>
