@import "../../../shared";

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  background: lighten($background-color, 5%);
  padding: 0.2em;

  .group {
    display: flex;
    align-items: center;

    .title {
      padding: 0.6em;
      font-size: 1.4em;
    }

    .controls {
    }
  }

  &.size-small {
    padding: 0.6em;
    margin-bottom: 0.6em;

    .group {
      .title {
        padding: 0.2em 0.6em;
        font-size: 1.2em;
      }
    }
  }

  &.size-default {

    .group {
      .controls {
        padding: 0 0.6em;
      }
    }
  }

  &.size-big {
  }
}
