<div class="group">
  <app-button
    *ngIf="backEnabled"
    [icon]="'arrow-left'"
    [size]="'big'"
    [cssClass]="'no-background'"
    (click)="onBackClick()"
  ></app-button>
  <div class="title">{{title}}</div>
</div>
<div class="group">
  <div class="controls">
    <ng-content></ng-content>
  </div>
</div>
