@import "../../../shared";

:host {
  @include vbox();
  flex-grow: 0;
  margin-bottom: 1em;

  label {
    text-transform: uppercase;
  }

  .container {
    @include vbox();
    position: relative;

    .drop-zone {
      background: $primary-color-light;
      padding: 1em;
      min-height: 4em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: default;

      &.file-over {
        background: lighten($primary-color-light, 15%);
        outline: 2px dashed $primary-color-text;
      }

      .current {
        text-align: center;

        img {
          max-height: 300px;
          max-width: 100%;
        }

        .filename {

        }
      }

      .info {
        text-align: center;
      }
    }

    input[type=file] {
      height: auto;
      margin: 0.6em 0;
      line-height: 1.4em;
      padding: 0.4em;
      cursor: pointer;
      outline: 0 none;

      &:hover {
        background: lighten($primary-color-light, 15%);
      }
    }

    .overlay {
      background: rgba(255, 255, 255, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .progress {
        width: 40%;
        height: 2em;
        margin: 0.6em 0;
        background: darken($primary-color-light, 10%);

        .progress-bar {
          height: 100%;
          transition: width 100ms linear;
          background: $accent-color;
        }
      }
    }
  }

  &.size-small {
    font-size: 0.75em;

    .container {
      .drop-zone {
        .current {
          img {
            max-height: 160px;
          }

          .filename {
            font-size: 0.8em;
          }
        }

        .info {
          font-size: 0.8em;
        }
      }
    }
  }

  &.size-big {

  }
}
