<label>{{label}}</label>
<div class="container">
  <div
    ng2FileDrop
    class="drop-zone"
    [ngClass]="{'file-over': _isFileOverDropZone}"
    (fileOver)="onFileOverDropZone($event)"
    [uploader]="_uploader"
  >
    <div
      class="current"
      *ngIf="model"
    >
      <img
        *ngIf="imageUrl"
        src="{{imageUrl + model}}"
        crossorigin="use-credentials"
      >
      <div class="filename">Current file: {{model}}</div>
    </div>
    <div class="info">Drag & drop file here or click below</div>
  </div>
  <input type="file" ng2FileSelect [uploader]="_uploader">
  <div class="overlay" *ngIf="_uploader.isUploading">
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [ngStyle]="{ 'width': _progress + '%' }"
      ></div>
    </div>
  </div>
</div>
