@import "../../../shared";

:host {
  display: block;
  width: 20px;
  height: 20px;

  .icon {
    display: block;
    fill: currentColor;
    width: 20px;
    height: 20px;
  }

  @mixin icon-size($size) {
    width: $size;
    height: $size;

    .icon {
      width: $size;
      height: $size;
    }
  }

  &.size-tiny {
    @include icon-size(12px);
  }

  &.size-small {
    @include icon-size(16px);
  }

  &.size-big {
    @include icon-size(32px);
  }

  &.size-large {
    @include icon-size(48px);
  }
}
