@import "../../../shared";

:host {
  @include view();
}

.form-group {
  @include vbox();
  flex-grow: 0;
  margin-bottom: 1em;

  label {
    text-transform: uppercase;
  }

  .form-control {
    @include form-control();
    padding: 0 1.5em;
    height: 3em;
    line-height: 3em;
  }
}

form {
  .row {
    display: flex;

    .column {
      &.basic {
        margin-right: 2em;
        margin-bottom: 1em;
        flex-grow: 0;
        flex-shrink: 1;
      }

      &.extra {
        flex-grow: 1;
      }

      &.controls {

      }
    }
  }

  @media (max-width: 1800px) {
    width: 1280px;

    .row {
      flex-wrap: wrap;
      flex-direction: column;

      .column {
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 1;

        &.basic {
          margin-right: 0;
        }
      }
    }
  }
}

.infos {
  margin-bottom: 1em;

  .info {
    font-size: 0.8em;
    color: darken($primary-color-text, 30%);
  }
}
