<app-title-bar [title]="'Card edit'" [backEnabled]="true" (back)="onBackClick()"></app-title-bar>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="row">
    <div class="column basic">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" placeholder="card name" [(ngModel)]="_card.name">
      </div>
      <app-canvas [card]="_card"></app-canvas>
    </div>
    <div class="column extra">
      <app-input [type]="'number'" [label]="'Pin limit'" [name]="'pinLimit'" [(model)]="_card.pinLimit" ngDefaultControl></app-input>
      <app-input [type]="'wysiwyg'" [label]="'Comments'" [name]="'comments'" [(model)]="_card.comments" ngDefaultControl></app-input>
      <div class="infos">
        <div class="info">
          Created {{_card.created | date:'medium'}} by {{_card.createdBy.displayName}}
        </div>
        <div class="info">
          Last modified {{_card.modified | date:'medium'}} by {{_card.modifiedBy.displayName}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column controls">
      <app-button [type]="'submit'" [icon]="'check'" [caption]="'Save'"></app-button>
      <app-button (click)="onCancelClick();" [icon]="'x'" [caption]="'Cancel'"></app-button>
    </div>
  </div>
</form>
