:host {
  user-select: none;
  cursor: default;
  display: inline-block;
  width: 2em;
  height: 2em;

  .avatar {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .symbol {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 0.9em;
    }
  }

  .shape {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    svg {
      display: none;
    }

    &.circle {
      border-radius: 50%;
    }

    &.square {
      transform: rotate(45deg);
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      width: 90%;
      height: 90%;
    }

    &.hexagon {
      background: none!important;

      svg {
        margin-left: -2px;
        margin-top: -2px;
        display: block;
      }
    }
  }
}
