<div
  class="avatar"
  *ngIf="user"
>
  <div class="symbol"><span>{{user.symbol}}</span></div>
  <div
    class="shape"
    [ngClass]="{
      'circle': user.type == UserType.Student,
      'square': user.type == UserType.Teacher,
      'hexagon': user.type == UserType.Admin
    }"
    [ngStyle]="{'background-color': user.color}"
  >
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="36" height="36" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300">
      <polygon
        class="hex"
        points="300,150 225,280 75,280 0,150 75,20 225,20"
        [ngStyle]="{'fill': user.color}"
      ></polygon>
    </svg>
  </div>
</div>
