@import "../../../shared";

:host {
  @include view();
}

.list {
  @include data-table();

  th, td {
    &.preview {
      width: 138px;
    }

    &.name {
      width: 310px;
      min-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.tags {
      min-width: 310px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
