<app-title-bar [title]="'Cardsets'">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input type="text" name="name" placeholder="card set name" [(ngModel)]="_newCardSet.name" autocomplete="new-password" class="small">
    <app-button [type]="'submit'" [icon]="'plus'" [caption]="'Create'"></app-button>
  </form>
</app-title-bar>

<table class="list">
  <thead>
  <tr>
    <th class="preview">&nbsp;</th>
    <th class="name">Name</th>
    <th class="tags">Tags <input type="text" class="small" [(ngModel)]="_tagFilter" (keyup)="onTagFilterKey()" placeholder="filter"></th>
    <th class="date">Created</th>
    <th class="date">Modified</th>
    <th class="actions">Actions</th>
  </tr>
  </thead>
  <tbody *ngIf="_filteredCardSets">
  <tr *ngFor="let cardSet of _filteredCardSets">
    <td class="preview">
      <app-card-preview [cardSet]="cardSet" [size]="'small'"></app-card-preview>
    </td>
    <td class="name">{{cardSet.name}}</td>
    <td class="tags">
      <span *ngFor="let tag of cardSet.tags">{{tag}} </span>
    </td>
    <td class="date">
      <app-info-badge [time]="cardSet.created" [user]="cardSet.createdBy"></app-info-badge>
    </td>
    <td class="date">
      <app-info-badge [time]="cardSet.modified" [user]="cardSet.modifiedBy"></app-info-badge>
    </td>
    <td class="actions">
      <app-button (click)="onEditClick(cardSet);" [icon]="'pencil'" [caption]="'Edit'"></app-button>
      <app-button (click)="onRemoveClick(cardSet);" [icon]="'x'" [caption]="'Remove'"></app-button>
    </td>
  </tr>
  </tbody>
</table>
