@import "../../../shared";

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    visibility: visible;

    .popup {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .overlay {
      opacity: 1;
    }
  }
}

.popup {
  background: lighten($background-color, 10%);
  padding: 2em;
  transition: all 400ms ease-in-out;
  transform: translate3d(0, -50px, 0);
  position: relative;
  z-index: 10;
  opacity: 0;

  .message {
    margin-bottom: 1em;
  }

  .controls {
    display: flex;

    app-button {
      margin-right: 1em;
    }
  }
}

.overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 400ms ease-in-out;
  opacity: 0;
}
