<div class="popup">
  <div class="message" [innerHTML]="_message"></div>
  <div class="controls">
    <app-button (click)="onYesClick()" [icon]="'check'" [caption]="'yes'"></app-button>
    <app-button (click)="onNoClick()" [icon]="'x'" [caption]="'no'"></app-button>
  </div>
</div>
<div class="overlay"></div>
