<div class="box">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" id="username" type="text" class="form-control" (keypress)="onKeyPress()" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" id="password" type="password" class="form-control" (keypress)="onKeyPress()" [(ngModel)]="password">
    </div>
    <div class="message">{{message}}</div>
    <button>Log in</button>
  </form>

</div>
