@import "../../../shared";

:host {
  @include view();
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  @include box();
  flex-grow: 0;
  width: 30%;

  form {
    @include vbox();
    background: $primary-color;
    padding: 2em;

    .form-group {
      @include vbox();
      margin-bottom: 1em;

      label {
        text-transform: uppercase;
      }

      .form-control {
        @include form-control();
        padding: 0 1.5em;
        height: 3em;
        line-height: 3em;
      }
    }

    .message {
      height: 2em;
    }

    button {
      @include button();
      flex-grow: 0;
      font-size: 1.2em;
      padding: 0.8em;
      margin-top: 2em;
    }
  }
}
