@import "../../../../shared";

:host {
  display: block;
  position: relative;
  overflow: hidden;
  width: 1280px;
}

$bar-height: 2.4em;

.bar {
  display: flex;
  background: $primary-color-light;
  position: relative;
  z-index: 10;
  height: $bar-height;

  .group {
    display: flex;
    padding: 0.3em 0.4em;
    margin-right: 0.6em;
    align-items: center;

    app-button, .select {
      margin-right: 0.4em;

      &:last-child {
        margin-right: 0;
      }
    }

    app-input {
      margin: 0;
    }

    &.background-tools {
    }

    &.text-tools {
      background: lighten($primary-color-light, 10%);
    }
  }
}

.image-upload {
  position: absolute;
  z-index: 5;
  background: lighten($primary-color-light, 10%);
  padding: 0.8em;
  width: 40%;
  top: $bar-height;
  left: 30%;
  transition: all 200ms ease-in-out;
  transform: translate3d(0, -100%, 0);

  &.active {
    transform: translate3d(0, 0, 0);
  }
}

.canvas-container {
  width: 100%;

  canvas {
    background: #fff;
  }
}
