<div class="bar">
  <div class="group background-tools">
    <app-input
      [type]="'color'"
      [name]="'backgroundColor'"
      [model]="_backgroundColor"
      (modelChange)="onBackgroundColorChange($event);"
      title="Background color"
    ></app-input>
  </div>
  <div class="group new-object-tools">
    <app-button (click)="onAddImageClick();" [size]="'small'" [icon]="'file-media'" title="Add image field"></app-button>
    <app-button (click)="onAddTextFieldClick();" [size]="'small'" [icon]="'text-size'" title="Add text field"></app-button>
    <app-button (click)="onAddSquareClick();" [size]="'small'" [icon]="'primitive-square'" title="Add rectangle"></app-button>
    <app-button (click)="onAddCircleClick();" [size]="'small'" [icon]="'primitive-dot'" title="Add circle"></app-button>
  </div>
  <div class="group" *ngIf="_selectedObject">
    <app-button (click)="onRemoveSelectedObjectClick();" [size]="'small'" [icon]="'trashcan'" title="Remove selected object"></app-button>
  </div>
  <div class="group layer-tools" *ngIf="_selectedObject">
    <app-button (click)="onBringToFrontClick();" [size]="'small'" [icon]="'arrow-up'" title="Bring object to front layer"></app-button>
    <app-button (click)="onBringToBackClick();" [size]="'small'" [icon]="'arrow-down'" title="Bring object to bottom layer"></app-button>
    <app-button (click)="onLayerUpClick();" [size]="'small'" [icon]="'chevron-up'" title="Move object one layer up"></app-button>
    <app-button (click)="onLayerDownClick();" [size]="'small'" [icon]="'chevron-down'" title="Move object one layer down"></app-button>
  </div>
  <div class="group text-tools" *ngIf="_selectedObject && (_selectedObject.type === 'rect' || _selectedObject.type === 'circle')">
    <app-input
      [type]="'color'"
      [name]="'figureColor'"
      [model]="_figureColor"
      (modelChange)="onFigureColorChange($event);"
      title="Figure color"
    ></app-input>
  </div>
  <div class="group text-tools" *ngIf="_selectedObject && _selectedObject.type === 'i-text'">
    <div class="select">
      <select (change)="onFontFamilyChange();" [(ngModel)]="_fontFamily" class="small" title="Text font">
        <option *ngFor="let fontFamily of _fontFamilies" [ngValue]="fontFamily">{{fontFamily}}</option>
      </select>
    </div>
    <div class="select">
      <select (change)="onTextStyleChange();" [(ngModel)]="_textStyle" class="small" title="Text style">
        <option *ngFor="let textStyle of _textStyles" [ngValue]="textStyle">{{textStyle.name}}</option>
      </select>
    </div>
    <div class="select">
      <select (change)="onTextSizeChange();" [(ngModel)]="_textSize" class="small" title="Text size">
        <option *ngFor="let textSize of _textSizes" [ngValue]="textSize">{{textSize}}</option>
      </select>
    </div>
    <app-input
      [type]="'color'"
      [name]="'textColor'"
      [model]="_textColor"
      (modelChange)="onTextColorChange($event);"
      title="Text color"
    ></app-input>
  </div>
</div>
<div
  class="image-upload"
  [ngClass]="{'active': _imageUploadActive}"
>
  <div class="controls">
    <app-button (click)="onCloseImageUploadClick();" [size]="'small'" [icon]="'x'"></app-button>
  </div>
  <app-image-addition
    [card]="card"
    (addToCard)="onAddLibraryItemToCard($event);"
  ></app-image-addition>
</div>
<canvas id="canvas"></canvas>
