<app-title-bar [title]="'User edit'" [backEnabled]="true" (back)="onBackClick()"></app-title-bar>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <app-input [label]="'Username'" [name]="'username'" [(model)]="_user.username" ngDefaultControl></app-input>
  <app-input [label]="'Display name'" [name]="'displayName'" [(model)]="_user.displayName" ngDefaultControl></app-input>
  <div class="info">If you don't want to change password, leave fields below blank.</div>
  <app-input [type]="'password'" [label]="'New password'" [name]="'newPassword'" [(model)]="_newPassword" ngDefaultControl></app-input>
  <app-input [type]="'password'" [label]="'Confirm new password'" [name]="'confirmNewPassword'" [(model)]="_confirmNewPassword" ngDefaultControl></app-input>
  <div class="form-group">
    <label>Type</label>
    <select [(ngModel)]="_user.type" name="type">
      <option *ngFor="let type of UserType | enum; let i = index;" [value]="i">{{type}}</option>
    </select>
  </div>
  <app-input [label]="'Symbol'" [name]="'symbol'" [(model)]="_user.symbol" ngDefaultControl></app-input>
  <app-input [type]="'color'" [label]="'Color'" [name]="'color'" [(model)]="_user.color" ngDefaultControl></app-input>
  <app-input [label]="'E-mail address'" [name]="'email'" [(model)]="_user.email" ngDefaultControl></app-input>
  <app-button [type]="'submit'" [icon]="'check'" [caption]="'Save'"></app-button>
  <app-button (click)="onCancelClick();" [icon]="'x'" [caption]="'Cancel'"></app-button>
</form>
