<app-title-bar [size]="'small'" [title]="'Tag List'">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input type="text" name="tag" placeholder="tag" [(ngModel)]="_newTag" autocomplete="new-password" class="small" required>
    <app-button [type]="'submit'" [icon]="'plus'" [caption]="'Create'"></app-button>
  </form>
</app-title-bar>

<div class="tags" *ngIf="list">
  <div
    class="tag"
    *ngFor="let tag of list"
  >
    <div class="text">{{tag}}</div>
    <app-button (click)="onRemoveClick(tag);" [size]="'tiny'" [icon]="'x'" title="Remove"></app-button>
  </div>
</div>
