@import "../../../shared";

:host {
  display: block;
}

.tags {
  background: lighten($background-color, 5%);
  padding: 0.4em 0.4em 0 0.4em;
  display: flex;
  flex-wrap: wrap;

  .tag {
    background: lighten($background-color, 10%);
    padding: 0.2em 0.4em;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    user-select: none;
    display: flex;

    .text {
      margin-right: 0.4em;
    }

    app-button {

    }
  }
}
