@import "../../../../shared";

:host {
  display: block;
}

.cards {
  background: lighten($background-color, 5%);
  padding: 1em 1em 0 1em;
  display: flex;
  flex-wrap: wrap;

  .card {
    margin-right: 1em;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    user-select: none;
    width: 256px;

    .bar {
      background: lighten($background-color, 15%);
      width: 100%;
      height: 27px;
      display: flex;
      justify-content: space-between;

      .group {
        display: flex;
        padding: 0 0.4em;
        align-items: center;

        .drag-indicator {

        }

        .name {
          width: 190px;
          padding: 0 0.4em;
          font-size: 0.8em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        app-button {
          margin-left: 0.4em;
        }
      }
    }

    .preview {
      width: 100%;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        transition: all 200ms ease-in-out;
        visibility: hidden;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }

      &:hover {
        .overlay {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &.dnd-drag-start {
      transform: scale(0.8);
      opacity: 0.7;
      border: 2px dashed #000;
    }

    &.dnd-drag-enter {
      opacity: 0.7;
      border: 2px dashed #000;
    }

    &.dnd-drag-over {
      border: 2px dashed #000;
    }

    &.dnd-sortable-drag {
      transform: scale(0.9);
      opacity: 0.7;
      border: 1px dashed #000;
    }

  }
}
