<app-title-bar [title]="'Cards'" [size]="'small'">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <app-button [type]="'submit'" [icon]="'plus'" [caption]="'Create'"></app-button>
  </form>
</app-title-bar>

<div
  class="cards"
  dnd-sortable-container
  [sortableData]="cardSet.cards"
>
  <div
    class="card"
    *ngFor="let card of cardSet.cards; let i = index"
    dnd-sortable
    [sortableIndex]="i"
    (onDropSuccess)="onCardDrop(card, i)"
  >
    <div class="bar">
      <div class="group" dnd-sortable-handle>
        <div class="drag-indicator">
          <app-icon [name]="'grabber'" [size]="'small'"></app-icon>
        </div>
        <div class="name">{{card.name}}</div>
      </div>
      <div class="group">
        <app-button (click)="onRemoveClick(card);" [size]="'tiny'" [icon]="'x'" title="Remove"></app-button>
      </div>
    </div>
    <div class="preview" (click)="onEditClick(card);">
      <div class="overlay">
        <app-icon [name]="'pencil'" [size]="'big'"></app-icon>
      </div>
      <app-card-preview [card]="card"></app-card-preview>
    </div>
  </div>
</div>
