@import "../../../shared";

:host {
  @include vbox();
  flex-grow: 0;
  margin-bottom: 1em;

  label {
    text-transform: uppercase;
  }

  input[type=text], input[type=password] {
    padding: 0 1.5em;
    height: 3em;
    line-height: 3em;
  }

  .color {
    display: flex;
    align-items: center;
    height: 2em;

    .hex {
      text-transform: uppercase;
      background: $primary-color-light;
      height: 100%;
      line-height: 2em;
      padding-right: 0.6em;
    }

    input[type=color] {
      width: 4em;
      height: 100%;
      background: $primary-color-light;
      border: 0 none;
      cursor: pointer;
    }
  }

  textarea {
    height: 8em;
    line-height: 1.2em;
    padding: 0.4em;
  }

  &.size-small {
    margin-bottom: 0.6em;

    label {
      text-transform: uppercase;
      font-size: 0.8em;
    }

    input {
      padding: 0 1em;
      height: 2em;
      line-height: 2em;
      font-size: 0.8em;
    }
  }

  &.size-big {

  }
}
