<label *ngIf="label">{{label}}<span *ngIf="locale"> [{{_currentLocale}}]</span></label>
<input
  *ngIf="type === 'text'"
  type="text"
  [name]="name"
  [placeholder]="placeholder"
  [(ngModel)]="ngModel"
  (change)="onChange();"
>
<input
  *ngIf="type === 'password'"
  type="password"
  [name]="name"
  [placeholder]="placeholder"
  [(ngModel)]="ngModel"
  (change)="onChange();"
>
<input
  *ngIf="type === 'number'"
  type="number"
  [name]="name"
  [(ngModel)]="ngModel"
  (change)="onChange();"
>
<div
  class="color"
  *ngIf="type === 'color'"
>
  <input
    type="color"
    [name]="name"
    [(ngModel)]="ngModel"
    (change)="onChange();"
  >
  <div class="hex">{{ngModel}}</div>
</div>
<textarea
  *ngIf="type === 'wysiwyg'"
  [name]="name"
  [(ngModel)]="ngModel"
  (change)="onChange();"
>
</textarea>
