@import "../../../shared";

:host {
  @include hbox();
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: $primary-color;
  height: $top-bar-height;
  box-shadow: 0 0 5px 1px lighten(#000, 10%);
}

.group {
  @include hbox();
  flex-grow: 0;
  align-items: center;

  .logo {
    @include hbox();
    height: 100%;
    padding: 0 0.6em;
    margin-right: 2em;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .image {
      margin-right: 0.4em;

      img {
        display: block;
        height: 1.8em;
      }
    }

    .name {
      font-size: 1.2em;
    }
  }

  nav {
    @include hbox();
    height: 100%;

    a {
      height: 100%;
      line-height: $top-bar-height;
      padding: 0 1em;
      background-color: lighten($primary-color, 3%);

      &.active {
        color: darken($primary-color-text, 5%);
        background-color: lighten($primary-color, 10%);
      }

      &:hover {
        color: darken($primary-color-text, 10%);
        background-color: lighten($primary-color, 15%);
      }
    }
  }

  .user {
    @include hbox();
    margin: 0 1em;

    .name {
      margin: 0 1em;
    }

    .controls {
      button {
      }
    }
  }
}
