<div class="group">
  <div class="logo" (click)="onLogoClick();">
    <div class="image">
      <img src="assets/images/logo.svg">
    </div>
    <div class="name">Tempest</div>
  </div>
  <nav>
    <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="user/list" routerLinkActive="active">Users</a>
    <a routerLink="card-set/list" routerLinkActive="active">Cardsets</a>
  </nav>
</div>
<div class="group">
  <div class="user" *ngIf="_user">
    <div class="name">{{_user.displayName}}</div>
    <div class="controls">
      <button (click)="onLogoutClick();">Log out</button>
    </div>
  </div>
</div>
