.card.edit {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
}

.panel {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.lightning-cnt {
  width: 30%;
  padding: 200px;
}

.lightning {
  width: 100%;
  height: 100%;
  background: url('/img/bg.png') 50% 50% no-repeat;
  background-size: contain;
}

.card-info {
  padding: 10px;
}

.images {
  padding: 10px;
}

.images img {
  height: 70px;
  width: auto;
  margin-right: 5px;
  cursor: pointer;
}

.fabric-container {
  height: 720px;
}

canvas#card {
  background: #fff;
}

.card.list {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
}

.card.list .panel {
  padding: 40px;
}

.card.list .panel table {
  width: 100%;
}

.card.list .panel table td {
  padding: 8px;
}