<app-title-bar [title]="'Cardset edit'" [backEnabled]="true" (back)="onBackClick()"></app-title-bar>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <app-input [label]="'Name'" [name]="'name'" [(model)]="_cardSet.name" ngDefaultControl></app-input>
  <app-tag-list
    [list]="_cardSet.tags"
    (onListChange)="onTagsChange($event)"
  ></app-tag-list>
  <app-card-list
    [cardSet]="_cardSet"
    (onCardCreated)="onCardCreated($event)"
    (onCardRemoved)="onCardRemoved($event)"
  ></app-card-list>
  <app-button [type]="'submit'" [icon]="'check'" [caption]="'Save'"></app-button>
  <app-button (click)="onCancelClick();" [icon]="'x'" [caption]="'Cancel'"></app-button>
</form>
