@import "../../../shared";

:host {
  display: inline-flex;
  align-items: center;

  button {
    @include button();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 0.8em;

    [app-icon] {

    }

    .caption {
      margin-left: 0.2em;
    }
  }

  &.size-tiny {
    button {
      padding: 0.1em 0.2em;
    }

    .caption {
      display: none;
    }
  }

  &.size-small {
    button {
      padding: 0.2em 0.6em;

      .caption {
        margin-top: 0.1em;
        margin-left: 0.2em;
        font-size: 0.8em;
      }
    }
  }

  &.size-big {

  }

  &.size-full {
    button {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 1em;

      .caption {
        margin-left: 0.8em;
        font-size: 1.2em;
      }
    }
  }
}

