@import "../../../shared";

:host {

}

.color {
  @include hbox();
  align-items: center;

  .box {
    flex-grow: 0;
    width: 1em;
    height: 1em;
    margin-right: 0.6em;
  }

  .name {
    flex-grow: 0;
  }
}
